<div class="my-appointments-title">Manage your Appointments</div>
<div class="add-appointment-button" *ngIf="!addButtonClicked && !editButtonClicked && !seeDetailsButtonClicked">
    <button class="btn btn-primary" (click)="addAppointment()">Schedule an Appointment</button>
</div>

<div class="my-appointments" *ngIf="!addButtonClicked && !editButtonClicked && !seeDetailsButtonClicked">
    <div class="no-appointments" *ngIf="appointments.length == 0">
        You have no appointments scheduled. Click on Schedule an Appointment to get started.
    </div>

    <div class="my-appointments-title" *ngIf="appointments.length > 0">
        My Appointments
    </div>

    <table *ngIf="appointments.length > 0" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Appointment Date</th>
                <th scope="col">Status</th>
                <th scope="col">Last Updated</th>
                <th scope="col">Type</th>
                <th scope="col">Vehicle</th>
                <th scope="col">License Plate</th>
                <th scope="col">Mileage</th>
                <th scope="col">Provider Selected</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appointment of appointments">
                <td>{{appointment?.appointmentDate | date:'medium'}}</td>
                <td>{{appointment?.appointmentStatus}}</td>
                <td>{{appointment?.lastUpdate | date:'medium'}}</td>
                <td>{{appointment?.serviceType}}</td>
                <td>{{appointment?.vehicleDetails[0]?.year + ' ' + appointment?.vehicleDetails[0]?.make + ' ' +
                    appointment?.vehicleDetails[0]?.model}}</td>
                <td>{{appointment?.vehicleDetails[0]?.licensePlate}}</td>
                <td>{{appointment?.vehicleDetails[0]?.mileage}}</td>
                <td>{{appointment?.providerDetails[0]?.name || 'Provider does not exist anymore'}}</td>
                <td>
                    <button class="btn btn-primary" (click)="editAppointment(appointment)"
                        *ngIf="appointment.appointmentStatus == 'Open'">Edit</button>
                    <button class="btn btn-danger" (click)="open(mymodal, appointment)"
                        *ngIf="appointment.appointmentStatus == 'Open'">Cancel</button>
                    <button class="btn btn-primary" (click)="seeDetails(appointment)">See Details</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="see-details" *ngIf="seeDetailsButtonClicked">
    <!-- display all details of the appointment -->
    <div class="my-appointments-title">
        <div>Appointment Details</div>
        <button class="back-button btn btn-primary justify-content-end align-items-end" (click)="seeDetailsButtonClicked = false">Back</button>
    </div>

    <div class="appointment-details mt-5">
        <div class="appointment-details-title">Appointment Date
            <div class="appointment-details-value">{{detailObject?.appointmentDate | date:'medium'}}</div>
        </div>

        <div class="appointment-details-title">Status
            <div class="appointment-details-value">{{detailObject?.appointmentStatus}}</div>
        </div>
        <div class="appointment-details-title">Last Updated
            <div class="appointment-details-value">{{detailObject?.lastUpdate}}</div>
        </div>
        <div class="appointment-details-title">Type
            <div class="appointment-details-value">{{detailObject?.serviceType}}</div>
        </div>
        <div class="appointment-details-title">Vehicle Make
            <div class="appointment-details-value">{{detailObject?.vehicleDetails[0]?.make}}</div>
        </div>
        <div class="appointment-details-title">Vehicle Model
            <div class="appointment-details-value">{{detailObject?.vehicleDetails[0]?.model}}</div>
        </div>
        <div class="appointment-details-title">Vehicle Year
            <div class="appointment-details-value">{{detailObject?.vehicleDetails[0]?.year}}</div>
        </div>
        <div class="appointment-details-title">Vehicle VIN
            <div class="appointment-details-value">{{detailObject?.vehicleDetails[0]?.VIN}}</div>
        </div>
        <div class="appointment-details-title">Vehicle License Plate
            <div class="appointment-details-value">{{detailObject?.vehicleDetails[0]?.licensePlate}}</div>
        </div>
        <div class="appointment-details-title">Vehicle Mileage
            <div class="appointment-details-value">{{detailObject?.vehicleDetails[0]?.mileage}}</div>
        </div>
        <div class="appointment-details-title">Provider Selected
            <div class="appointment-details-value">{{detailObject?.providerDetails[0]?.name || 'Provider does not exist anymore'}}</div>
        </div>
        <div class="appointment-details-title">Provider Address
            <div class="appointment-details-value">{{detailObject?.providerDetails[0]?.address || 'Provider does not exist anymore'}}</div>
        </div>
        <div class="appointment-details-title">Provider Phone Number
            <div class="appointment-details-value">{{detailObject?.providerDetails[0]?.phone || 'Provider does not exist anymore'}}</div>
        </div>
        <div class="appointment-details-title">Provider Email
            <div class="appointment-details-value">{{detailObject?.providerDetails[0]?.email || 'Provider does not exist anymore'}}</div>
        </div>
        <div class="appointment-details-title">Additional Notes
            <div class="appointment-details-value">{{detailObject?.notes}}</div>
        </div>
    </div>
</div>

<!-- Add Appointment -->
<div class="add-appointment" *ngIf="addButtonClicked">
    <div class="my-vehicles-title">
        Schedule an Appointment
    </div>

    <form [formGroup]="addAppointmentForm" class="appointment" (ngSubmit)="scheduleAppointment()">
        <div class="form-group">
            <mat-form-field>
                <label for="appointmentDate">Appointment Date</label>
                <input matInput type="datetime-local" id="appointmentDate" class="form-control datepick" formControlName="appointmentDate">            
            </mat-form-field>
        </div>
        
        <div class="form-group">
            <label for="serviceType">Service Type</label>
            <select class="form-control" id="serviceType" formControlName="serviceType">
                <option value="Oil Change">Oil Change</option>
                <option value="Tire Rotation">Tire Rotation</option>
                <option value="Brake Replacement">Brake Replacement</option>
                <option value="Battery Replacement">Battery Replacement</option>
                <option value="Engine Repair">Engine Repair</option>
                <option value="Transmission Repair">Transmission Repair</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div class="form-group">
            <label for="vehicle">Vehicle</label>
            <select class="form-control" id="vehicle" formControlName="vehicleID">
                <option *ngFor="let vehicle of vehicles" [ngValue]="vehicle.vehicleID">{{vehicle?.year + ' ' + vehicle?.make + ' ' + vehicle?.model}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="provider">Provider</label>
            <select class="form-control" id="provider" formControlName="providerID">
                <option *ngFor="let provider of providers" [ngValue]="provider.providerID">{{provider?.name}} - {{provider?.address}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="notes">Additional Notes</label>
            <textarea class="form-control" id="notes" rows="3" formControlName="notes"></textarea>
        </div>
        <button class="btn btn-primary mt-3" type="submit" [disabled]="!addAppointmentForm.valid">Schedule</button>
    </form>

</div>

<!-- Edit Appointment -->
<div class="edit-appointment" *ngIf="editButtonClicked">
    <div class="my-vehicles-title">
        Update an Appointment
    </div>

    <form [formGroup]="editAppointmentForm" class="appointment" (ngSubmit)="updateAppointment()">
        <div class="form-group">
            <mat-form-field>
                <label for="appointmentDate">Appointment Date</label>
                <input matInput type="datetime-local" id="appointmentDate" class="form-control datepick" formControlName="appointmentDate">            
            </mat-form-field>
        </div>
        
        <div class="form-group">
            <label for="serviceType">Service Type</label>
            <select class="form-control" id="serviceType" formControlName="serviceType">
                <option value="Oil Change">Oil Change</option>
                <option value="Tire Rotation">Tire Rotation</option>
                <option value="Brake Replacement">Brake Replacement</option>
                <option value="Battery Replacement">Battery Replacement</option>
                <option value="Engine Repair">Engine Repair</option>
                <option value="Transmission Repair">Transmission Repair</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div class="form-group">
            <label for="vehicle">Vehicle</label>
            <select class="form-control" id="vehicle" formControlName="vehicleID">
                <option *ngFor="let vehicle of vehicles" [ngValue]="vehicle.vehicleID">{{vehicle?.year + ' ' + vehicle?.make + ' ' + vehicle?.model}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="provider">Provider</label>
            <select class="form-control" id="provider" formControlName="providerID">
                <option *ngFor="let provider of providers" [ngValue]="provider.providerID">{{provider?.name}} - {{provider?.address}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="notes">Additional Notes</label>
            <textarea class="form-control" id="notes" rows="3" formControlName="notes"></textarea>
        </div>
        <button class="btn btn-primary mt-3" type="submit" [disabled]="!editAppointmentForm.valid">Update Appointment</button>
    </form>

</div>

<ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Cancel Appointment?</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      Are you sure you want to cancel this appointment?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="cancelAppointment()">Cancel Appointment</button>
    <button type="button" class="btn btn-primary" (click)="modal.dismiss('cancel click')">Cancel</button>
    </div>
</ng-template>