<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form class="form-signin" [formGroup]="loginForm" (submit)="login()">
                <h2 class="form-signin-heading">Login</h2>
                <label for="inputUsername" class="sr-only">{{(loginForm.controls.role.value=='owner') ? "Email" : "Username"}}</label>
                <input type="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus
                    formControlName="username">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
                    formControlName="password">
                <div class="radio mt-3">
                    <label>
                        <input type="radio" name="role" id="optionsRadios1" value="owner" checked formControlName="role">
                        Owner
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="role" id="optionsRadios2" value="admin" formControlName="role">
                        Admin
                    </label>
                </div>
                <div class="mt-3">
                    <a routerLink="/signup">New User? Click here to Sign Up</a>
                </div>
                <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Sign in</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>