<div class="home-page">
    <div class="dashboard-title">
        Welcome to Vehicle Management System, {{user?.name}}
    </div>
    <div class="owner-dashboard" *ngIf="role == 'owner'">
        With this application you can manage your vehicles and appointments. To get started:
        <ul>
            <li>You can click on the hamburger icon <span><img class="menu-black-icon" src="assets/icons/menu-black.svg"></span> on the top left to open the navigational menu.</li>
            <li>Here you will find different pages you can proceed with</li>
            <li>If you click on <b>My Appointments</b>, you can see a list of consolidated appointments you made for your vehicles.</li>
            <li>You can also create/cancel an appointment from here.</li>
            <li>Click on <b>My Vehicles</b> to manage your vehicles</li>
            <li>Here you can add a new Vehicle and edit/delete a vehicle if you want to.</li>
            <li>You can also see your Vehicle Maintenance Records from here</li>
            <li>In case you want to come back to this page again, clicking on the <b>Home</b> button will do.</li>
        </ul>
    </div>
    <div class="owner-dashboard" *ngIf="role == 'admin'">
        With this application you can manage service providers and appointments. To get started:
        <ul>
            <li>You can click on the hamburger icon <span><img class="menu-black-icon" src="assets/icons/menu-black.svg"></span> on the top left to open the navigational menu.</li>
            <li>Here you will find different pages you can proceed with</li>
            <li>If you click on <b>Manage Appointments</b>, you can see a list of appointments with each Service Provider</li>
            <li>You can also Close an appointment from here. Also, you can see various details like Appointment details, Vehicle Details, Owner Details and Maintenance Records</li>
            <li>Click on <b>Manage Service Providers</b> to manage your Providers</li>
            <li>Here you can add a new Provider and edit/delete a provider if you want to.</li>
            <li *ngIf="user?.isSuperAdmin"><b>Since you are a Super Admin, you can Add/Remove other Admins.</b> Just check your menu</li>
            <li>In case you want to come back to this page again, clicking on the <b>Home</b> button will do.</li>
        </ul>
    </div>

    <div class="owner-dashboard mt-5" *ngIf="notifications.length>0">
        <div class="d-flex notifications">
            <img src="assets/icons/notification.svg" class="notification-icon">
            <div class="notifications-title">Notifications</div>
        </div>
        <div class="notifications-list mt-2">
            <div class="notification">
                <ul>
                    <li *ngFor="let notification of notifications">{{notification}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>